<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Página sobre Bernardo Pace Pereira Arantes, programador em Belo Horizonte.">
    <title>Sobre Mim</title>
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <header>
        <div class="header-content">
            <h2>Bernardo Pace Pereira Arantes</h2>
            <p>Programador | Dona Clara, Belo Horizonte - MG</p>
        </div>
        <nav>
            <a class="link" href="index.html">Página Inicial</a>
            <a class="link" href="contato.html">Contato</a>
        </nav>
    </header>

    <main>
        <section class="profile">
            <img src="../assets/images/ImagemMinha.jpeg" alt="Foto de Bernardo Pace Pereira Arantes">
            <div>
                <h1>Quem eu sou?</h1>
                <p>Sou o Programador que você procura. Sempre estou atento às mudanças e novidades na tecnologia.
                    Gosto de jogar videogames, praticar esportes, ouvir música, e me informar sobre tecnologia.
                </p>
                <p>Baixe o meu <a href="../assets/pdf/Curriculo.pdf" download="Curriculo-Bernardo-Pace.pdf">Currículo</a>
                </p>
            </div>
        </section>
    </main>

    <footer>
        <p>©Bernardo Pace - 2023 - Todos os direitos reservados.</p>
    </footer>
</body>

</html>